<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Add new person</title>
</head>

<body>
<div align="center">
    <h2>Add new Person</h2>

    <div th:if="${errorMessage}" th:text="${errorMessage}"
         style="color:red;font-style:italic;">
        ...
    </div>
    <form th:object="${form}" method="post"  action="#" th:action="@{/add-person}">
        <table>
            <tr>
                <td>First Name</td>
                <td><input type="text" th:field="*{firstName}"></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" th:field="*{lastName}"></td>
            </tr>
            <tr>
                <td>Age</td>
                <td><input type="text" th:field="*{age}"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Save">
                </td>
            <tr>
                <td>
                    <a th:href="@{/person-list}">Cancel</a>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>